In [1]:
import requests
import numpy as np
import pandas as pd
from lxml import etree
from tqdm.notebook import tqdm
#driver
import pymysql
#connector
from sqlalchemy import create_engine

# データの読み込み

In [2]:
#create engine to connect mysql
# 'mysql+pymysql://root:password@localhost:3306/database_name'
engine = create_engine('mysql+pymysql://root:password@localhost:3306/jmda_test')

In [20]:
# sql command
sql_query = 'select * from weather;'
# import table into python by pandas
df_read = pd.read_sql_query(sql_query, engine)

In [21]:
df_read

Empty DataFrame
Columns: [date, weekday, rain percentage, high, low, city]
Index: []

In [5]:
len(df_read)

0

# スクレイピング

In [22]:
header = {
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/78.0.3904.108 Safari/537.36'
}
def get_city(url,city):
    city_url = url
    response = requests.get(url,headers=header)
    html = etree.HTML(response.text)
    table = html.xpath("//div[@class='BdB Bds(d) Bdbc(#fff.12) Fz(1.2em) Py(2px) O(0) Pos(r) forecast-item']//text()")
    table = np.array(table).reshape(-1,7)
    df = pd.DataFrame(table[:,[0,1,3,5]],columns=['weekday','rain percentage','high','low'])
    df['weekday'] = df['weekday'].map({'星期一':'Monday','星期二':'Tuesday','星期三':'Wednesday','星期四':'Thursday','星期五':'Friday','星期六':'Saturday','星期日':'Sunday'})
    df.iloc[:,1:] = df.iloc[:,1:].astype('int')
    df['city'] = city
    df.insert(0,'date',[i.strftime('%Y-%m-%d') for i in pd.date_range(pd.datetime.today(),pd.datetime.today()+pd.to_timedelta(9,unit='d'),10)])
    df
    return df

url = 'https://tw.news.yahoo.com/weather/%E5%8F%B0%E7%81%A3/%E8%87%BA%E5%8C%97%E5%B8%82/%E8%87%BA%E5%8C%97%E5%B8%82-2306179'
response = requests.get(url,headers=header)
html = etree.HTML(response.text)
cities = html.xpath("//ul[@class='My(10px) Tsh($temperature-text-shadow)']")[0]
city_url = ['https://tw.news.yahoo.com/'+i for i in cities.xpath(".//a/@href")]
city_list = cities.xpath(".//a/text()")

temp_df = pd.DataFrame([[1,1,1,1,1,1]],columns=['date','weekday','rain percentage','high','low','city'])
for i in tqdm(range(len(city_list))):
    df = get_city(city_url[i],city_list[i])
    temp_df = pd.concat([temp_df,df],axis=0,ignore_index=True)
temp_df = temp_df[1:]

HBox(children=(IntProgress(value=0, max=17), HTML(value='')))

In [23]:
temp_df.head()

         date    weekday rain percentage high low city
1  2019-12-15     Sunday               0   27  19   臺北
2  2019-12-16     Monday               0   27  17   臺北
3  2019-12-17    Tuesday               0   27  17   臺北
4  2019-12-18  Wednesday              25   24  18   臺北
5  2019-12-19   Thursday              45   22  19   臺北

In [24]:
len(temp_df)

170

# データの追加

In [25]:
# add insert_rows to table "weather"
# if_exists='append'
temp_df.to_sql('weather', engine, index=False,if_exists='append')

In [26]:
sql_query = 'select * from weather;'
df_read = pd.read_sql_query(sql_query, engine)
df_read.tail()

          date   weekday  rain percentage  high  low city
165 2019-12-20    Friday               10    27   15   南投
166 2019-12-21  Saturday                0    26   16   南投
167 2019-12-22    Sunday                0    26   16   南投
168 2019-12-23    Monday                0    26   16   南投
169 2019-12-24   Tuesday                0    27   16   南投

In [11]:
len(df_read)

170

In [27]:
insert_rows = pd.DataFrame([['2020-06-29','Monday','0','100','100','新竹']],columns=temp_df.columns)
insert_rows

         date weekday rain percentage high  low city
0  2020-06-29  Monday               0  100  100   新竹

In [28]:
insert_rows.to_sql('weather',engine,index=False,if_exists='append')

In [29]:
sql_query = 'select * from weather;'
df_read = pd.read_sql_query(sql_query, engine)
df_read.tail()

          date   weekday  rain percentage  high  low city
166 2019-12-21  Saturday                0    26   16   南投
167 2019-12-22    Sunday                0    26   16   南投
168 2019-12-23    Monday                0    26   16   南投
169 2019-12-24   Tuesday                0    27   16   南投
170 2020-06-29    Monday                0   100  100   新竹

In [15]:
len(df_read)

171

# データの削除

In [30]:
try:
    sql_query = 'delete from weather where high=100;'
    df_read = pd.read_sql_query(sql_query, engine)
except:
    print('deleted')

deleted

In [31]:
sql_query = 'select * from weather;'
df_read = pd.read_sql_query(sql_query, engine)
df_read.tail()

          date   weekday  rain percentage  high  low city
165 2019-12-20    Friday               10    27   15   南投
166 2019-12-21  Saturday                0    26   16   南投
167 2019-12-22    Sunday                0    26   16   南投
168 2019-12-23    Monday                0    26   16   南投
169 2019-12-24   Tuesday                0    27   16   南投

In [32]:
len(df_read)

170

# test

In [33]:
try:
    sql_query = 'delete from weather;'
    df_read = pd.read_sql_query(sql_query, engine)
except:
    print('deleted')

deleted